* {
	margin: 0;
	padding: 0;
	
}

body {
	background-color: black;
}

img {
	width: 60%;
	max-width: 100%;
	min-width: 25%;
	display: inline-block;


}

.trashgallery {
	color: white;
	margin: auto;
	left: 0;
	right: 0;
	font-family: "Helvetica";
	font-weight: lighter;
	text-align: center;
	font-size: 200px;
	position: fixed;
	z-index: 1;
}

.gallerywrapper {
	margin: 0 auto;
	position: absolute;
	text-align: center;

}

.button {
	width: 200px;
	height: 200px;
	border: 10px solid white;
	border-radius: 50%;
	position: fixed;
	bottom: 0;
	z-index: 2;


}

#plus {
	right: 0;
}

#minus {
	left: 0;
}

.horizontal {
	width: 100px;
	height: 10px;
	background-color: white;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.vertical {
	width: 10px;
	height: 100px;
	background-color: white;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.hover {
	font-family: "Helvetica";
	font-weight: lighter;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 70px;
	position: fixed;
	bottom: 5%;
	display: none;
	pointer-events: none;
}

.caption {
	width: 60%;

}
